<main>

<section class="banner-img">

	<header class="location">Franklin, ID</header>
	<link rel="stylesheet" type="text/css" href="../stylesheets/weather-styles.scss" property="what">
	

</section>

<section class="weather-data">
	
		<ul class="week">
			<li><a href="#">Sun.</a></li>
			<li><a href="#">Mon.</a></li>
			<li><a href="#">Tue.</a></li>
			<li><a href="#">Wed.</a></li>
			<li><a href="#">Thru.</a></li>
			<li><a href="#">Fri.</a></li>
			<li><a href="#">Sat.</a></li>
		</ul>
	
	<div class="summary">
		<h1>Sunny</h1>
	</div>

	<div class="high">
	<h1>High:</h1>
	<h3>90</h3>
	</div>

	<div class="low">
	<h1>Low:</h1>
	<h3>66</h3>
	</div>

	<div class="precipitation">
		<h1>Precipitation:</h1>
		<h3>0</h3>
	</div>

	<div class="wind">
		<h3>Wind of 1 - 5</h3>
	</div>

	<div class="direction">
		<h3>Going Southwest</h3>
	</div>
</section>
<section class="sketch">
	<h1>Sketches</h1>
	<img src="../images/iphone.png" alt="my sketch">
</section>
</main>
