@import url(https://fonts.googleapis.com/css?family=Roboto:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Open Sans', sans-serif;
}

header, h1, h3 {
    font-family: 'Roboto', sans-serif;
}


main {
    display: flex;
    flex-direction: column;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.weather-menu {
    margin: 0;
    background-color: #0B132B;
    height: 50px;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;


    li{
        list-style: none;
        margin-left: 15px;
        font-size: 15px;

        &:first-child {
            margin-left: 0;
        }
    }
    a {
        text-decoration: none;
        color:#fff;
        
    }
        a:hover {
            color: #6184db;
        }
}


.banner-img {
  background-image: url('../images/mountains.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  // background-color: rgba(0, 0, 0, .5);
  width: 100%;
  // height: 150px;

  .weather-site_greenville & {
    background-image: url('../images/storm.jpg');
  }

    .location {
        text-align: center;
        line-height: 150px;
        h1 {
            margin: 0;
            font-size: 2.5em;
            color: #fff;
        }
    }
}


.weather-data {
    clear: both;

    .week {
        padding: 0;
        li {
            display: inline-block;
        }

        a{  
            color: #000;
        }
    }

    h2, h3 {
        margin: 0;
        text-align: center;
        color: #000;
    }

    h1 {
        font-size: 2em;
    }

    .summary, 
    .high, 
    .low, 
    .precipitation, 
    .wind, 
    .direction {
        position: relative;
        &:before {
            background-image: url('../images/mountains.jpg');
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            content: "";
            -webkit-filter: blur(5px);
            filter: blur(5px);
            position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            z-index: 1;

            .weather-site_greenville & {
    background-image: url('../images/storm.jpg');
  }

        }
        &:after {
            content: "";
            display: block;
            position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            z-index: 2;
        }       
        * { 
            position: relative;
            z-index: 3;
        }
    }


    .summary {
        height: 100px;
        &:after {
            background-color: rgba(#E3BB88, .5);

    .weather-site_greenville & {
    background-color: rgba(#93b3ee, .5);
  
        }
    }
}
    .detail-data{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;


        li{
            display: flex;
            list-style: none;
            min-height: 55px;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }
    }

    .high {
        &:after {
            background-color: rgba(#DB9864, .5);

        .weather-site_greenville & {
    background-color: rgba(#ccc, .5);
  }
        }


    }

    .low {
        &:after {
            background-color: rgba(#B1695A, .5);

              .weather-site_greenville & {
    background-color: rgba(#445451, .5);
  
        }
        }
    }

    .precipitation {
        &:after {
            background-color: rgba(#644749, .5);
        }
    }
    .wind, .direction {
       
    }

    .wind {
         &:after {
            background-color: rgba(#643462, .5);

        }
    }

    .direction {
        color: #fff;
         &:after {
            background-color: rgba(#000, .5);

            .weather-site_greenville & {
    background-color: rgba(#FFF, .5);
  
        }
        }
    }
}


.sketch {
    img{
        height: 220px;
    }
}


footer {
    background-color: #0B132B;
    color: #fff;
    position: relative;
    bottom: 0;
    left: 0;
    clear:both;
} 

.hourly {
    display: none;
}

.map {
    display: none;
}
.fact {
        background-color: #f76580;
        color: #fff;


        h2{
            
        }

    }

    .video {
        display: none;
    }

/*media queries*/

@media only screen and (min-width: 768px) {
    .banner-img {
        height: 300px;
    }

    .second {
        display: flex;

    }
    .map {

        .weather-site_greenville & {
    background-color: #5d81ad;



  
        }

    }

    .hourly {
        margin: 2%;
        text-align: center;

           .weather-site_greenville & {
    background-color: #297feb;
  
        }

    }

    .hourly, .map {
        margin: 2%;
        text-align: center;

    }
    .weather-data .detail-data {
        flex-direction: row;
         margin: 0 2%;  
        li {
            border-radius: 4px;
            margin: 0 .5%;
            padding: 20px 0; 
            flex: 1;

            }
    }

    .hourly {
        display: block;
        background-color: #f8b085;
        color: #fff;
        flex-basis: 50%;

        h2 {
            margin-left: 20px;
        }

        .am, .pm {
            display: inline-flex;
            flex-direction: column;

        }

        .am {
            align-items: flex-end;
        }
        li{
            list-style: none;
        }


    }

    .map {
        display: block;
        background-color: #d4a5ea;
        color: #fff;
        flex-basis: 50%;


        img{
            margin-top: 20px;
            height: 100px;
           
        }

        h2{
            margin: 0;
        }


    }

    .fact {
        background-color: #f76580;
        color: #fff;
        margin: 0 2%;

        .weather-site_greenville & {
    background-color: #184781;
    text-align: center;
}


        h2{
            margin: 0;
        }

    }

    .video {
        display: none;
    }
}

.sketch {
    margin: 0 2%;    
}

@media only screen and (min-width: 1124px) {

    .video {
        display: block;
        margin: 0 2%;
        text-align: center;
    }

}
