<!doctype html>
<html>
  <head>

    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title>Romina Palacios</title>

    <%= stylesheet_link_tag "weather-styles" %>
    <%= javascript_include_tag  "all" %>
  </head>
  <body class="<%= page_classes %>">

		<nav>
			<ul class="weather-menu">
				<span>WC</span>
				<li><a href="#">Franklin</a></li>
				<li><a href="#">Greenville</a></li>
				<li><a href="#">Springfield</a></li>
			</ul>
		</nav>   
      <%= yield %>

      <footer>
      	Thank you for visiting!
      </footer>
    </body>
    </html>