<!doctype html>
<html>
  <head>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title>Weather Site - Franklin</title>

    <%= stylesheet_link_tag "weather-styles" %>
    <%= javascript_include_tag  "all" %>
  </head>
  <body class="<%= page_classes %>">

		<nav>
			<ul class="weather-menu">
	
				<li><a href="/weather-site/franklin">Franklin</a></li>
				<li><a href="/weather-site/greenville">Greenville</a></li>
				<li><a href="#">Springfield</a></li>
			</ul>
		</nav>   
      <%= yield %>

      <footer>
      	Thank you for visiting!
      </footer>
    </body>
    </html>