---
title: Romina Painter - Initial Dcument Plan
---
	
<section class="main">
		<h1>Initial Planning</h1>

		<div class="hw-exp">
		<h2>Weather Site Planning</h2>

		<h3>Audience</h4>
		<p>For this website the audience will be anyone that is within the city's (Rexburg) parameters that are in need of checking the weather outside in order to plan activities with the families or friends. This website's audience's age can range from 12+ years old. Internet access is a must.</p>

		<h3>Purpose Statement</h3>
		<p>In order to provide a good service for all outdoor actiities we offer you an all-time available weather service for the area of Rexburg so that you may take that pretty girl on a date or your friends to the dunes knowing that it will not rain that day.</p>

		<h2>Bear-Sona</h2>
		<img src="/images/homework-mobile/freddy.jpg" class="freddy">
		<h3 class="persona">Freddy Fazbear</h3>
		<ul>
			<li>Loves children.</li>
			<li>Works at Freddy Fazbear's Pizza.</li>
			<li>He is the scariest bear.</li>
		</ul>

		<h3>Demographics</h3>
		<p>Freddy is older than 20 years old, he is about 49 years old and has hold his job title ever since he was created. He takes care of three animatronics that are his family. Has a phD in scaring. Wants to know the best times to scare that one security worker at night. </p>

		<h3>Goals and Motivations</h3>
		<p>His motivation is to entertain children during the day and with them the best shows as they eat pizza. At night he likes to find intruders and get them dressed up for the next day's show.
		He wants to know when there is going to be mighty rain storms and lighting so that he may have a better show.</p>
		<p>He works at <strong>Freddy Fazbear's Pizza</strong> on a stage surrounded by screaming children and at night he stalks guards. He enjoys technology and knows how to work (and damage) well. Having the msot terrifying weather at night will help him a lot to find intruders and make them not ever come back. </p>
		<p><b>"I want to give them the most scariest show EVER!"</b></p>
		</div>
		<h3>Sketches</h3>
		<div class="img-ex">
			<img src="/images/homework-mobile/android-phone-large.png">
			<img src="/images/homework-mobile/android-tablet-small.png">
			<img src="/images/homework-mobile/android-tablet-large.png">
			<img src="/images/homework-mobile/ipad.png">
			<img src="/images/homework-mobile/iphone.png">
			<img src="/images/homework-mobile/browser.png">
			

		

</section>