---
title: Romina Painter - Mobile Compare Contrast
---

<main>
		<header>
		<h1>Compare and Contrast</h1>
		</header>	
	<section class="bad">

		<h3>Bad</h3>

			<p>For a BAD example of a mobile site I chose <a href="https://m.latinoccu.org/m/Menu.aspx">Latino Credit Union</a> (https://m.latinoccu.org/m/Menu.aspx). It did not allow me to look for what I needed. It had poor usability and poor accesibility. There was no iamges associated with text and little contrast or fonts added for the site, so everything looked very disorganized. The navigation does not help at all. The layout does not give the company a good look and it makes it seem sketchy.</p>
			<p>If maybe they would change the design and actually add fonts and an useful navigation it would work, but if I was looking for something for this site and it looked like this I would leave immediately because it looks like a spam site. Not trustworthy.</p>

			<img class="bad-img" src="/images/homework-mobile/bad.png">

	</section>


	<section class="good">
			
		<h3>Good</h3>

			<p>I obviously chose <a href="https://www.buzzfeed.com/">Buzzfeed</a> (https://www.buzzfeed.com/) to show a good user experience. So let's start!</p>
			<p>The navigation itself is very very simple and it makes is very easy to navigate. It shows the latest content at the top and fornt of the site and the layout is consistent. The navigation is vertical and when you click on it you can see all the thigns that you might need such as quizzes, news, articles, or blogs. The colors are very plain, but it is comfortable because all of the text is readable and it does not distract from the content.</p>
			<p>I like their content and how they try to connect with their audience rather than selling a product and not caring about what the user really needs. I also like the way it is organized by hierachy on popularity among the users. I did not like however, is the ads, I am not a fan of ads, but I guess that is how people make money soo...</p>

			<img class="good-img" src="/images/homework-mobile/IMG_3619.PNG">
			<img  class="good-img" src="/images/homework-mobile/IMG_3620.PNG">

</section>

</main>