---
title: Romina Painter - Mobile Visitors and Personas
---
	
<section class="main">
		<h1>Visitors and Personas</h1>

		<div class="hw-exp">
		<p>For this assignment I chose <strong><a href="https://teamtreehouse.com/">Team Treehouse</a></strong> which is a site where people learn to code through instructional videos, hands-on exercises, and forums. </p>

		<h3>Who is using it?</h4>
		<p>Anyone starting at the ages of 12+ that is aspiring for an education in web design and development with a low income in order to pay for the service with a fmaily or not. Some of them are beginners with no experience with coding whatsoever.</p>

		<h3>What are they doing while visiting?</h3>
		<p>They can be doing about anything while visiting this site, one of the things they could be doing is seraching for references to a code, or trying to learn how to code. The site is flexible enough that can be used in very different situations like watching videos while at a starbucks or while sitting on their bed eating breakfast and learning at the same time.</p>

		<h3>What actions or content is the visitor looking for?</h3>
		<ol>
			<li>"Where can I learn how to code?"</li>
			<li>"What is Javascript?"</li>
			<li>"how can I learn design principles?"</li>
			<li>"Where can I learn angular.js?"</li>
		</ol>
		<p>They want to learn a specific coding element or sign up for a track.</p>

		<h3>How is it affected by location and/or time?</h3>
		<p>The time does not, in fact, affect the content delivery for it can be visited at any time of the day or from anywhere. They only limitations is that the site is exclusively in english and would not work for people in other countries who do not speak the language.</p>

		<h3>How are visitors accessing the site?</h3>
		<p>It is responsive! So it can be accessed form a desktop, laptop, smartphone, and tablet.</p>
		</div>

		<div class="img-ex">
			<img src="/images/homework-mobile/IMG_3612.PNG">
			<img src="/images/homework-mobile/IMG_3613.PNG">
			<img src="/images/homework-mobile/IMG_3614.PNG">
			<img src="/images/homework-mobile/IMG_3615.PNG">

		</div>
		<div class="persona">
		<h1>Persona</h1>
		<h3>A Single Mother (Aunt)</h3>
		<h3>Major resposiblities:</h3>
		<p>Her nephews, provide for her household, bills, her dreams.</p>
		<h3>Domegraphics:</h3>
		<p>22 years old, divorced, aunt of two, no college education.</p>
		<h3>Goals and tasks:</h3>
		<p>She is focus and diligent in providing for her family and giving them the of everything so that they may grow to be their best selves.</p>
		<p>She does not want to elave her job at a donut shop, but she wishes to make more money doing things that is inline with her nephews' generation. She is interested in tech.</p>
		<p>She makes donuts, takes phone calls, answers emails, she is comfortable with Mac and quite tech savvy</p>
		<h3>Quote:</h3>
		<p>"How can I become an awesome and proficient designer?</p>
		</div>
		<div>
			<img class="cass" src="/images/homework-mobile/aunt-cass.png">
		</div>

</section>