@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
@import url(https://fonts.googleapis.com/css?family=Muli:300);
@import url(https://fonts.googleapis.com/css?family=Kanit:500);
/* line 5, /Users/rominapainter/Sites/romypainter/source/stylesheets/all.scss */
html {
  margin: 0;
  padding: 0;
  padding-bottom: 100px; }

/* line 11, /Users/rominapainter/Sites/romypainter/source/stylesheets/all.scss */
body {
  margin: 0;
  padding: 0; }

/* line 18, /Users/rominapainter/Sites/romypainter/source/stylesheets/all.scss */
footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 40px;
  width: 100%;
  background: #000; }

/* line 28, /Users/rominapainter/Sites/romypainter/source/stylesheets/all.scss */
main {
  width: 55%;
  margin: 0 auto;
  margin-top: 100px; }

/* line 35, /Users/rominapainter/Sites/romypainter/source/stylesheets/all.scss */
h1 {
  font-family: 'Droid Serif', serif;
  font-size: 3em;
  margin: 0; }

/* line 41, /Users/rominapainter/Sites/romypainter/source/stylesheets/all.scss */
h2, h3, h4, h5, h6 {
  font-family: 'Droid Serif', serif; }

/* line 45, /Users/rominapainter/Sites/romypainter/source/stylesheets/all.scss */
p, li {
  font-family: 'Muli', sans-serif; }

/* Navigation */
/* line 53, /Users/rominapainter/Sites/romypainter/source/stylesheets/all.scss */
nav, .navigation {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  background: rgba(255, 255, 255, 0.5);
  margin-top: 0;
  height: 60px;
  width: 100%;
  font-family: 'Droid Serif', serif;
  font-size: 15px;
  box-shadow: 1px 1px 2px #ccc; }
  /* line 67, /Users/rominapainter/Sites/romypainter/source/stylesheets/all.scss */
  nav li, .navigation li {
    display: inline-block;
    margin-left: 10px;
    margin-top: 20px; }
  /* line 73, /Users/rominapainter/Sites/romypainter/source/stylesheets/all.scss */
  nav a, .navigation a {
    text-decoration: none;
    color: #000; }
  /* line 78, /Users/rominapainter/Sites/romypainter/source/stylesheets/all.scss */
  nav a:hover, .navigation a:hover {
    color: #ccc; }
  /* line 82, /Users/rominapainter/Sites/romypainter/source/stylesheets/all.scss */
  nav strong, .navigation strong {
    font-size: 1.5em;
    margin-right: 15px; }

/*homepage*/
/* line 91, /Users/rominapainter/Sites/romypainter/source/stylesheets/all.scss */
img {
  float: left; }

/* line 95, /Users/rominapainter/Sites/romypainter/source/stylesheets/all.scss */
.homedescription {
  padding-top: 90px; }

/*homework*/
/* line 101, /Users/rominapainter/Sites/romypainter/source/stylesheets/all.scss */
.homework {
  list-style: none; }
  /* line 104, /Users/rominapainter/Sites/romypainter/source/stylesheets/all.scss */
  .homework li {
    margin-bottom: 5px; }
  /* line 108, /Users/rominapainter/Sites/romypainter/source/stylesheets/all.scss */
  .homework a {
    text-decoration: none;
    color: #000; }
  /* line 114, /Users/rominapainter/Sites/romypainter/source/stylesheets/all.scss */
  .homework a:hover {
    color: #ccc; }

/* line 121, /Users/rominapainter/Sites/romypainter/source/stylesheets/all.scss */
.hw-exp {
  clear: both;
  margin-top: 40px;
  width: 550px; }
  /* line 126, /Users/rominapainter/Sites/romypainter/source/stylesheets/all.scss */
  .hw-exp strong {
    text-decoration: underline; }

/* line 131, /Users/rominapainter/Sites/romypainter/source/stylesheets/all.scss */
.persona {
  clear: both; }

/* line 136, /Users/rominapainter/Sites/romypainter/source/stylesheets/all.scss */
.img-ex {
  padding-bottom: 70px;
  height: 300px; }

/* line 141, /Users/rominapainter/Sites/romypainter/source/stylesheets/all.scss */
.cass {
  margin-bottom: 30px; }

/* line 145, /Users/rominapainter/Sites/romypainter/source/stylesheets/all.scss */
.bad,
.good {
  clear: both; }
  /* line 148, /Users/rominapainter/Sites/romypainter/source/stylesheets/all.scss */
  .bad a,
  .good a {
    text-decoration: underline; }

/* line 153, /Users/rominapainter/Sites/romypainter/source/stylesheets/all.scss */
.bad-img,
.good-img {
  height: 300px;
  margin: 10px; }

/* line 161, /Users/rominapainter/Sites/romypainter/source/stylesheets/all.scss */
.freddy {
  height: 300px; }

/* line 165, /Users/rominapainter/Sites/romypainter/source/stylesheets/all.scss */
.peers {
  clear: both; }

/* line 169, /Users/rominapainter/Sites/romypainter/source/stylesheets/all.scss */
.weather-nav {
  margin-top: 0;
  background-color: #f94646;
  height: 60px; }
  /* line 174, /Users/rominapainter/Sites/romypainter/source/stylesheets/all.scss */
  .weather-nav li {
    margin-top: 10px; }
  /* line 178, /Users/rominapainter/Sites/romypainter/source/stylesheets/all.scss */
  .weather-nav a:hover {
    color: #fff; }

/* line 184, /Users/rominapainter/Sites/romypainter/source/stylesheets/all.scss */
.weather-logo {
  font-family: 'Kanit', sans-serif;
  font-size: 1.5em;
  color: #fff;
  margin-left: -25px; }
