@import url(https://fonts.googleapis.com/css?family=Roboto:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/* line 4, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
html {
  box-sizing: border-box; }

/* line 7, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
*, *:before, *:after {
  box-sizing: inherit; }

/* line 11, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
body {
  margin-top: 50px;
  margin-left: 0;
  margin-right: 0;
  font-family: 'Open Sans', sans-serif; }

/* line 18, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
header, h1, h3 {
  font-family: 'Roboto', sans-serif; }

/* line 23, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
main {
  display: flex;
  flex-direction: column; }

/* line 28, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999; }

/* line 36, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
.weather-menu {
  margin: 0;
  background-color: #0B132B;
  height: 50px;
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center; }
  /* line 46, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
  .weather-menu li {
    list-style: none;
    margin-left: 15px;
    font-size: 15px; }
    /* line 51, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
    .weather-menu li:first-child {
      margin-left: 0; }
  /* line 55, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
  .weather-menu a {
    text-decoration: none;
    color: #fff; }
  /* line 60, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
  .weather-menu a:hover {
    color: #6184db; }

/* line 66, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
.banner-img {
  background-image: url("../images/mountains.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%; }
  /* line 75, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
  .weather-site_greenville .banner-img {
    background-image: url("../images/storm.jpg"); }
  /* line 79, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
  .banner-img .location {
    text-align: center;
    line-height: 150px; }
    /* line 82, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
    .banner-img .location h1 {
      margin: 0;
      font-size: 2.5em;
      color: #fff; }

/* line 91, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
.weather-data {
  clear: both; }
  /* line 94, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
  .weather-data .week {
    padding: 0; }
    /* line 96, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
    .weather-data .week li {
      display: inline-block; }
    /* line 100, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
    .weather-data .week a {
      color: #000; }
  /* line 105, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
  .weather-data h2, .weather-data h3 {
    margin: 0;
    text-align: center;
    color: #000; }
  /* line 111, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
  .weather-data h1 {
    font-size: 2em; }
  /* line 115, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
  .weather-data .summary,
  .weather-data .high,
  .weather-data .low,
  .weather-data .precipitation,
  .weather-data .wind,
  .weather-data .direction {
    position: relative; }
    /* line 122, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
    .weather-data .summary:before,
    .weather-data .high:before,
    .weather-data .low:before,
    .weather-data .precipitation:before,
    .weather-data .wind:before,
    .weather-data .direction:before {
      background-image: url("../images/mountains.jpg");
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      content: "";
      -webkit-filter: blur(5px);
      filter: blur(5px);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1; }
      /* line 137, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
      .weather-site_greenville .weather-data .summary:before, .weather-site_greenville
      .weather-data .high:before, .weather-site_greenville
      .weather-data .low:before, .weather-site_greenville
      .weather-data .precipitation:before, .weather-site_greenville
      .weather-data .wind:before, .weather-site_greenville
      .weather-data .direction:before {
        background-image: url("../images/storm.jpg"); }
    /* line 142, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
    .weather-data .summary:after,
    .weather-data .high:after,
    .weather-data .low:after,
    .weather-data .precipitation:after,
    .weather-data .wind:after,
    .weather-data .direction:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2; }
    /* line 152, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
    .weather-data .summary *,
    .weather-data .high *,
    .weather-data .low *,
    .weather-data .precipitation *,
    .weather-data .wind *,
    .weather-data .direction * {
      position: relative;
      z-index: 3; }
  /* line 159, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
  .weather-data .summary {
    height: 100px; }
    /* line 161, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
    .weather-data .summary:after {
      background-color: rgba(227, 187, 136, 0.5); }
      /* line 164, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
      .weather-site_greenville .weather-data .summary:after {
        background-color: rgba(147, 179, 238, 0.5); }
  /* line 170, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
  .weather-data .detail-data {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0; }
    /* line 177, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
    .weather-data .detail-data li {
      display: flex;
      list-style: none;
      min-height: 55px;
      align-items: center;
      flex-direction: column;
      justify-content: center; }
  /* line 188, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
  .weather-data .high:after {
    background-color: rgba(219, 152, 100, 0.5); }
    /* line 191, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
    .weather-site_greenville .weather-data .high:after {
      background-color: rgba(204, 204, 204, 0.5); }
  /* line 200, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
  .weather-data .low:after {
    background-color: rgba(177, 105, 90, 0.5); }
    /* line 203, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
    .weather-site_greenville .weather-data .low:after {
      background-color: rgba(68, 84, 81, 0.5); }
  /* line 211, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
  .weather-data .precipitation:after {
    background-color: rgba(100, 71, 73, 0.5); }
  /* line 220, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
  .weather-data .wind:after {
    background-color: rgba(100, 52, 98, 0.5); }
  /* line 226, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
  .weather-data .direction {
    color: #fff; }
    /* line 228, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
    .weather-data .direction:after {
      background-color: rgba(0, 0, 0, 0.5); }
      /* line 231, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
      .weather-site_greenville .weather-data .direction:after {
        background-color: rgba(255, 255, 255, 0.5); }

/* line 241, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
.sketch img {
  height: 220px; }

/* line 247, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
footer {
  background-color: #0B132B;
  color: #fff;
  position: relative;
  bottom: 0;
  left: 0;
  clear: both; }

/* line 256, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
.hourly {
  display: none; }

/* line 260, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
.map {
  display: none; }

/* line 263, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
.fact {
  background-color: #f76580;
  color: #fff; }

/* line 274, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
.video {
  display: none; }

/*media queries*/
@media only screen and (min-width: 768px) {
  /* line 281, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
  .banner-img {
    height: 300px; }

  /* line 285, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
  .second {
    display: flex; }

  /* line 291, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
  .weather-site_greenville .map {
    background-color: #5d81ad; }

  /* line 301, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
  .hourly {
    margin: 2%;
    text-align: center; }
    /* line 305, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
    .weather-site_greenville .hourly {
      background-color: #297feb; }

  /* line 312, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
  .hourly, .map {
    margin: 2%;
    text-align: center; }

  /* line 317, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
  .weather-data .detail-data {
    flex-direction: row;
    margin: 0 2%; }
    /* line 320, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
    .weather-data .detail-data li {
      border-radius: 4px;
      margin: 0 .5%;
      padding: 20px 0;
      flex: 1; }

  /* line 329, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
  .hourly {
    display: block;
    background-color: #f8b085;
    color: #fff;
    flex-basis: 50%; }
    /* line 335, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
    .hourly h2 {
      margin-left: 20px; }
    /* line 339, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
    .hourly .am, .hourly .pm {
      display: inline-flex;
      flex-direction: column; }
    /* line 345, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
    .hourly .am {
      align-items: flex-end; }
    /* line 348, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
    .hourly li {
      list-style: none; }

  /* line 355, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
  .map {
    display: block;
    background-color: #d4a5ea;
    color: #fff;
    flex-basis: 50%; }
    /* line 362, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
    .map img {
      margin-top: 20px;
      height: 100px; }
    /* line 368, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
    .map h2 {
      margin: 0; }

  /* line 375, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
  .fact {
    background-color: #f76580;
    color: #fff;
    margin: 0 2%; }
    /* line 380, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
    .weather-site_greenville .fact {
      background-color: #184781;
      text-align: center; }
    /* line 386, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
    .fact h2 {
      margin: 0; }

  /* line 392, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
  .video {
    display: none; } }
/* line 397, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
.sketch {
  margin: 0 2%; }

@media only screen and (min-width: 1124px) {
  /* line 403, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
  .video {
    display: block;
    margin: 0 2%;
    text-align: center; } }
