@import url(https://fonts.googleapis.com/css?family=Roboto:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/* line 5, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
body {
  margin-top: 80px;
  margin-left: 0;
  margin-right: 0;
  font-family: 'Open Sans', sans-serif; }

/* line 12, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
header, h1, h3 {
  font-family: 'Roboto', sans-serif; }

/* line 20, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
nav {
  background-color: #0B132B;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px; }
  /* line 28, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
  nav span {
    color: #fff;
    font-size: 2em;
    margin-left: -20px;
    font-family: 'Roboto', sans-serif; }

/* line 36, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
.weather-menu {
  margin-left: 10px; }
  /* line 38, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
  .weather-menu li {
    display: inline-block;
    margin-left: 25px;
    font-size: .2em; }
  /* line 43, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
  .weather-menu a {
    text-decoration: none;
    color: #fff;
    font-size: 1em; }
  /* line 48, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
  .weather-menu a:hover {
    font-weight: bolder;
    color: #6184db; }

/* line 55, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
.banner-img {
  background-image: url("../images/mountains.jpg");
  background-position: center;
  background-repeat: repeat;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 300px; }
  /* line 64, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
  .banner-img .location {
    clear: both;
    font-size: 3em;
    color: #fff;
    padding-top: 35%;
    margin-left: 10px; }

/* line 75, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
.weather-data {
  clear: both; }
  /* line 79, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
  .weather-data .week li {
    display: inline-block; }
  /* line 83, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
  .weather-data .week a {
    color: #000; }
  /* line 89, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
  .weather-data h1, .weather-data h3 {
    margin: 0;
    text-align: center;
    color: #fff; }
  /* line 94, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
  .weather-data h1 {
    font-size: 2em; }
  /* line 99, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
  .weather-data span {
    display: inline-block; }
  /* line 103, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
  .weather-data .summary {
    background-image: url(../images/sunny.jpg);
    background-position: center right;
    height: 65px; }
    /* line 108, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
    .weather-data .summary h1 {
      padding-top: 10px; }
  /* line 113, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
  .weather-data .high {
    background-color: #f2646e; }
  /* line 119, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
  .weather-data .low {
    background-color: #64aaf2; }
  /* line 123, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
  .weather-data .precipitation, .weather-data .wind, .weather-data .direction {
    background-color: #163481; }

/* line 130, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
.sketch img {
  height: 220px; }

/* line 136, /Users/rominapainter/Sites/romypainter/source/stylesheets/weather-styles.scss */
footer {
  background-color: #0B132B;
  color: #fff;
  position: relative;
  bottom: 0;
  left: 0;
  clear: both; }
