---
title: Romina Painter - Homework
---

<section class="main">
	<h1>Homework!</h1>

	<ul class="homework">
		<li><a href="/mobile-visitors-personas">Mobile Analysis - Visitors and Personas</a></li>
		<li><a href="/mobile-compare-contrast">Mobile Compare and Contrast</a></li>
		<li><a href="http://petersonproduction.com/design.html">Design Principles</a></li>
	</ul>
</section>