---
title: Romina Painter - Homepage
---
<section class="main">

<img src="../images/rey.png">

<div class="homedescription">
	<h1>Hello!</h1>
	<p>My name is Romina Painter and I am second semester freshman at BYU-Idaho where I study Wed Design and Developemnt with an emphasis in Development.</p>
	<p>At the moment this little space of the internet will work as my portoflio as well as to showcase my homework to my teacher. Later on, it will serve for my business project and then combine both of them in order to make a space for me to showcase my work and be able to have a nice running portfolio business!</p>
	<p>This place will also have some of my artwork included in it. take a good look around and enjoy yourself :)</p>
	<p>It will look prettier later on!</p>

</div>


</section>