---
title: Romina Painter - Homepage
---
<main>

<header>
	<h1>User Experience Design</h1>
</header>

<section class="ux">
<!-- This is the introduction to User Experience -->
	<h3>What is User Experience?</h3>
		<p>Have you ever been to a website and it takes you about 20 minutes to fine that one thing you needed and feeling dumb because it was actually pretty easy?</p>
		<p>That is what User Experience tries to avoid, it is focues on giving you the BEST user experience in all sites of the internet.</p>

	<h3>What is UX composed of?</h3>

		<ul class="comp">
			<li>UX Strategy</li>
			<li>User Research</li>
			<li>Information Architecture</li>
			<li>Interaction Design</li>
			<li>Visual Design</li>
			<li>Content Strategy</li>
			<li>Testing</li>
		</ul>
</section>
<section class="ctnt">
<!-- "ctnt" is short for content, here it expands all the other items of UX lsited in the ul -->
	<h3>UX Strategy</h3>
		<p>Believe it or not, design impacts a lot of decision within a product and it can also impact the cost of the project.</p>
		<p>A way to do this is: whenever you are about to create something always ask why.</p>
		<p>Asking why is not annoying, in fact it helps remove all features or extra content that it is not needed or essential to a product. But what if the business manager wants it? Then you have to think more about that decision. </p>
		<p>UX Strategy is giving a balance between the user needs and the nusiness goals. Always be resourceful in all projects.</p>

	<h3>User Research</h3>
		<p>Who are you building this for? Why? (yeah, I know right?), Do they really need it? What would make them use it? What would make them not need it? What would make them...Love it?</p>
		<p>A design that is user-centric is designed to ease (and even better: solve) users' problems in a way that it feels natural to them. Remember how we went back to the scenario in which you could not find an item and after 20 minutes you found it and it was actually pretty easy? yeah.</p>
		<p>In user research you are identifying your audience, gathering knowledge and insights from them in order to determine real world behaviors. We do research in order to find a pinpoint in the interaction between a user and a product/service.</p>
		<p>Always make sure you build something users actually want.</p>

	<h3>Information Architecture</h3>
		<p>In this you are accomodating and organizing information for it to be clear, understandable, and findable. Afterall, design is organizing information. You want to make it nice for the audience to know what is going on have a nice flow when reading and udnerstanding content. Think of it as reading a comic book: what do I read first and next?</p>

	<h3>Interaction Design</h3>
		<p>This is a core item in UX Design. In this you are concerned on how your audience interacts with the system. Try to eliminate unnecessary steps for the user to reach a point. How can you prevent users from making errors? What are the errors in the system?</p>

	<h3>Visual Design</h3>
		<p>A good design helps connect audience with products. It is composed of 4 items:</p>
		<ul class="vdes">
			<li>Typography</li>
			<li>Layout</li>
			<li>Color</li>
			<li>Animation</li>
		</ul>
		<p>These may be conducted by the visual designer, user interface designer, or product designer...Or all of them! A good design makes things come to life, and in doing so it builds trust from the user to the product.</p>
	<h3>Content Strategy</h3>
		<p>They make sure the content and navigation feels natural. Remember: Content is King. A great way to prioritize your design is having the content in mind first. That is before thinking of the design.</p>

	<h3>Bonus: Coding</h3>
		<p>Not all designers are required to code. Would it be awesome? Heck yeah!</p>
		<p>The best way to design is knowing what really is possible to design in the web. What are the limitation to your design. Is it realistic?</p>

	<h3>Testing</h3>
	<p>You will never go with your first design. After finishing a prototype make sure you make others test it and see their point of view and how they interact with it. That way you find loop holes and mistakes made. Then you redesign for the better.</p>
</section>
<section class="sources">
	<h2>Sources:</h2>
	<ul>
	<li>
	<a href="http://www.uxbeginner.com/ultimate-list-of-ux-topics-all-beginners-should-know/">UX Beginner</a></li>
	<li>Elements of User Experience by Garrett</li>
	</ul>
</section>
</main>